*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  background-color: hsl(215, 43%, 95%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PICTURES */

.daniel-status-with-picture {
  display: flex;
  column-gap: 15px;
  padding-bottom: 20px;
}

.jonathan-status-with-picture {
  display: flex;
  column-gap: 15px;
  padding-bottom: 20px;
}

.jeanette-status-with-picture {
  display: flex;
  column-gap: 15px;
  padding-bottom: 20px;
}

.patrick-status-with-picture {
  display: flex;
  column-gap: 15px;
  padding-bottom: 20px;
}

.kira-status-with-picture {
  display: flex;
  column-gap: 15px;
  padding-bottom: 20px;
}

.kira-picture {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px white;
}

.daniel-picture {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px hsl(265, 57%, 59%);
}

.jonathan-picture {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px hsl(225, 14%, 73%);
}

.jeanette-picture {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px hsl(69, 100%, 99%);
}

.patric-picture {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px hsl(265, 57%, 59%);
}

/* CONTAINER SECTION */

.daniel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(264, 57%, 48%);
  border-radius: 10px;
  max-width: 600px;
  padding: 40px;
}

.jonathan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(220, 18%, 32%);
  border-radius: 10px;
  max-width: 600px;
  padding: 40px;
  max-width: 300px;
}

.jeanette {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-width: 600px;
  padding: 40px;
  max-width: 300px;
}

.patrick-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(218, 24%, 13%);
  border-radius: 10px;
  max-width: 600px;
  padding: 40px;
}

.kira {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-width: 600px;
  padding: 40px;
  max-width: 300px;
  padding-bottom: 96px;
}

/* TEXT COLORS */

.name-title-top {
  color: white;
}

.name-subtitle-top {
  color: hsl(265, 75%, 68%);
}

.section-top-about-daniels {
  color: hsl(295, 92%, 95%);
  font-size: 22px;
  padding-bottom: 20px;
}

.section-top-paragraph {
  color: hsl(265, 74%, 73%);
}

.jonathan-name-title-top {
  color: white;
}

.jonathan-name-subtitle-top {
  color: hsl(222, 14%, 59%);
}

.jonathan-section-top-paragraph {
  color: hsl(220, 24%, 78%);
}

.jeanette-name-title-top {
  color: hsl(210, 4%, 41%);
}

.jeanette-name-subtitle-top {
  color: hsl(225, 7%, 89%);
}

.kira-name-title-top {
  color: hsl(210, 4%, 41%);
}

.kira-name-subtitle-top {
  color: hsl(225, 7%, 89%);
}

.section-top-about-jeanette {
  font-size: 22px;
  color: hsl(219, 11%, 31%);
  padding-bottom: 20px;
  padding-right: 30px;
}

.section-top-about-kira {
  font-size: 22px;
  color: hsl(219, 11%, 31%);
  padding-bottom: 32px;
  padding-right: 30px;
  margin: 0;
}

.section-top-paragraph-jeanette {
  color: hsl(222, 4%, 56%);
  padding-right: 20px;
}

.section-top-paragraph-kira {
  color: hsl(222, 4%, 56%);
  padding-right: 20px;
}

.patrick-name-title-top {
  color: white;
}

.patrick-name-subtitle-top {
  color: hsl(222, 7%, 48%);
}

.section-top-about-patrick {
  color: hsl(180, 100%, 99%);
  font-size: 22px;
  padding-bottom: 20px;
}

.patrick-section-top-paragraph {
  color: hsl(228, 8%, 65%);
}
/* SECTIONS */

.section-top {
  display: flex;
  gap: 30px;
}

.section-second {
  display: flex;
  gap: 30px;
}

.two-columns {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.the-last-column {
  display: flex;
  gap: 30px;
}

/* MAIN CONTAINER */

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
